


<h2>Index</h2>
<p>Old value: @ViewBag.OldId</p>
<p>New value: @Session["key"]</p>
<p>Session Id: @ViewBag.SessionId</p>

@Html.ActionLink("Get Summary", // <-- Link text
                 "Index", // <-- Action Method Name
                 "Summary" // <-- Controller Name

                 )


