<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
</head>
<body>

    <h1>Welcome</h1>
    <p>
        Username is @Session["userName"]
        Password is @Session["userPassword"]
    </p>

</body>
</html>