


<h2>Index</h2>
<p>Previous: @ViewBag.PreAppCount</p>
<p>New : @ViewBag.ApplicationCount</p>

@Html.ActionLink("Get Summary", // <-- Link text
                 "Index", // <-- Action Method Name
                 "Summary" // <-- Controller Name
                 
                 )

