<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoLogin</title>
</head>
<body>
    <form action="DoLogin" method="post">
        <label for="Username">Username:</label><br>
        <input type="text" id="Username" name="Username" value="vaibhav"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="Password" value="Doe"><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>

